.image-box {
  width: 210px ;
  height: 300px;
  background-image: url('images/qwertyuiopa.png');
  background-size: cover;
  display: flex;
  justify-content: left;
  cursor:pointer;
  -webkit-tap-highlight-color: transparent;
}

.image-box:active {
  background-image: url('./img/lil puhri 2.png');
  cursor:pointer;
  -webkit-tap-highlight-color: transparent;
}